PORT=3000
BASE_URL=http://localhost:3000
DB_PATH=./data.sqlite
TRUST_PROXY=true

SMTP_HOST=smtp.exemplo.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=usuario
SMTP_PASS=senha
SMTP_FROM_NAME=Pesquisa OnClick
SMTP_FROM_EMAIL=no-reply@seudominio.com
